@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Skranji&display=swap');  //  font-family: 'Mochiy Pop One', sans-serif;  font-family: 'Skranji', cursive;   contenue description
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');// font-family: 'Henny Penny', cursive;   H2
 
.pickether-card {
    width: 35%;
    img {
      width: 100%;
    }
  }

  h2 {
    font-family: 'Henny Penny', cursive;
  }
  p {
    font-family: 'Mochiy Pop One', sans-serif;
    // font-family: 'Skranji', cursive;
  }